<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ankus.web.lite.newsoid.NewsOidRepository">

    <!-- ==================================================================================== -->
    <!-- 1. Result and Parameter Maps -->
    <!-- ==================================================================================== -->

    <resultMap id="newsoidMap" type="com.ankus.web.lite.newsoid.NewsOid">
        <result property="nsite" column="NSITE" jdbcType="VARCHAR"/>
        <result property="id" column="ID" jdbcType="VARCHAR"/>
        <result property="enable" column="ENABLE" jdbcType="VARCHAR"/>     
    </resultMap>

    <!-- ==================================================================================== -->
    <!-- 2. Sql Fragments -->
    <!-- ==================================================================================== -->

    <sql id="wherePk">WHERE NSITE = #{nsite}</sql>
    <sql id="whereId">WHERE ID = #{id}</sql>

    <!-- ==================================================================================== -->
    <!-- 3. Select Statement -->
    <!-- ==================================================================================== -->
   
    <select id="select" parameterType="String" resultMap="newsoidMap">
        SELECT * FROM NEWSSITE
        <include refid="wherePk"/>
    </select>

    <select id="selectAll" resultMap="newsoidMap">
        SELECT * FROM NEWSSITE
    </select>

    <select id="selectByCondition" parameterType="newsoid" resultMap="newsoidMap">
        SELECT * FROM NEWSSITE
        <where>
            <if test=" nsite != null and nsite !='' ">
                AND [NSITE] LIKE CONCAT('%',#{nsite},'%')
            </if>
            <if test=" enable != null and enable !='' ">
                AND [ENABLE] LIKE CONCAT('%',#{enable},'%')
            </if>           
        </where>
        ORDER BY 
        <choose>
        	<when test="sidx != null and sidx != ''"> ${sidx} </when>
        	<otherwise> NSITE </otherwise>
        </choose>
        <choose>
        	<when test="sord != null and sord != ''"> ${sord} </when>
        	<otherwise> ASC </otherwise>
        </choose>
        <if test="paging == true">
        FOR ORDERBY_NUM() BETWEEN #{startRow} AND #{endRow};
        </if>
    </select>

    <select id="selectByConditionCnt" parameterType="newsoid" resultType="int">
        SELECT COUNT(1) FROM NEWSSITE
        <where>
            <if test=" nsite != null and nsite !='' ">
                AND [NSITE] LIKE CONCAT('%',#{nsite},'%')
            </if>
            <if test=" enable != null and enable !='' ">
                AND [ENABLE] LIKE CONCAT('%',#{enable},'%')
            </if>   
        </where>
    </select>

    <!-- ==================================================================================== -->
    <!-- 3. Exist Statement -->
    <!-- ==================================================================================== -->
    
    <select id="exist" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM NEWSSITE 
        <include refid="wherePk"/>
    </select>
    
    <!-- ==================================================================================== -->
    <!-- 4. Insert Statements -->
    <!-- ==================================================================================== -->
    
    <insert id="insert" parameterType="newsoid" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO NEWSSITE (			
			NSITE,
			ID,
			ENABLE			
        )
        VALUES (
			#{nsite},
			#{id},
			#{enable}
        )
    </insert>
    
    <!-- ==================================================================================== -->
    <!-- 5. Update Statements -->
    <!-- ==================================================================================== -->
    
    <update id="update" parameterType="newsoid" >
    	UPDATE NEWSSITE SET
			NSITE = #{nsite},			
			ENABLE = #{enable}			
        <include refid="whereId"/>
    </update>
    
    <!-- ==================================================================================== -->
    <!-- 6. Delete Statements -->
    <!-- ==================================================================================== -->
    
	<delete id="delete" parameterType="String">
        DELETE FROM NEWSSITE
        <include refid="whereId"/>
    </delete>

	<delete id="deleteList">
        DELETE FROM NEWSSITE WHERE ID IN 
        <foreach collection="array" open="(" separator="," close=")" index="index" item="id">
        #{id}
        </foreach>
    </delete>

</mapper>