<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ankus.web.lite.mallList.MallListRepository">

    <!-- ==================================================================================== -->
    <!-- 1. Result and Parameter Maps -->
    <!-- ==================================================================================== -->

    <resultMap id="mallListMap" type="com.ankus.web.lite.mallList.MallList">
        <result property="goods_no" column="GOODS_NO" jdbcType="VARCHAR"/>   
        <result property="goods_nm" column="GOODS_NM" jdbcType="VARCHAR"/>     
        <result property="goods_url" column="GOODS_URL" jdbcType="VARCHAR"/>        
        <result property="shopng_knd" column="SHOPNG_KND" jdbcType="VARCHAR"/>
        <result property="brand" column="BRAND" jdbcType="VARCHAR"/>  
        <result property="item" column="ITEM" jdbcType="VARCHAR"/> 
         <result property="goods_review" column="GOODS_REVIEW" jdbcType="VARCHAR"/>
        <result property="recommand" column="RECOMMAND" jdbcType="VARCHAR"/> 
        <result property="delivery" column="DELIVERY" jdbcType="VARCHAR"/> 
    </resultMap>

    <!-- ==================================================================================== -->
    <!-- 2. Sql Fragments -->
    <!-- ==================================================================================== -->
   

    <!-- ==================================================================================== -->
    <!-- 3. Select Statement -->
    <!-- ==================================================================================== -->
   
    <select id="selectByCondition" parameterType="mallList" resultMap="mallListMap">
        SELECT A.GOODS_NO 	
              ,A.SHOPNG_KND
              ,A.BRAND
              ,A.ITEM
              ,A.GOODS_NM
              ,A.GOODS_URL             
              ,B.GOODS_REVIEW 
              ,B.RECOMMAND
              ,B.DELIVERY
          FROM SHOPNG_GOODS_DTLS A
      		  ,SHOPNG_GOODS_REVIEW B
      	 WHERE A.GOODS_NO = B.GOODS_NO
      	   
      	 <if test=" from != null and from !='' ">
	       AND A.CRET_DT <![CDATA[>=]]> #{from}
	     </if>
	     <if test=" to != null and to !='' ">
	       AND A.CRET_DT <![CDATA[<=]]> #{to}
	     </if>	     
	     <if test=" brand != null and brand !='' ">
	       AND A.BRAND LIKE CONCAT('%', #{brand}, '%')
	     </if>
	     <if test=" goods_nm != null and goods_nm !='' ">
	       AND A.GOODS_NM LIKE CONCAT('%', #{goods_nm}, '%')
	     </if>
        ORDER BY 
        <choose>
        	<when test="sidx != null and sidx != ''"> ${sidx} </when>
        	<otherwise> A.BRAND, A.GOODS_NM </otherwise>
        </choose>
        <choose>
        	<when test="sord != null and sord != ''"> ${sord} </when>
        	<otherwise> ASC </otherwise>
        </choose>
        <if test="paging == true">
        FOR ORDERBY_NUM() BETWEEN #{startRow} AND #{endRow};
        </if>
    </select>

    <select id="selectByConditionCnt" parameterType="mallList" resultType="int">
        SELECT COUNT(1) 
          FROM SHOPNG_GOODS_DTLS A
      		  ,SHOPNG_GOODS_REVIEW B
      	 WHERE A.GOODS_NO = B.GOODS_NO
        
        <if test=" from != null and from !='' ">
	       AND A.CRET_DT <![CDATA[>=]]> #{from}
	     </if>
	     <if test=" to != null and to !='' ">
	       AND A.CRET_DT <![CDATA[<=]]> #{to}
	     </if>	     
	     <if test=" brand != null and brand !='' ">
	       AND A.BRAND LIKE CONCAT('%', #{brand}, '%')
	     </if>
	     <if test=" goods_nm != null and goods_nm !='' ">
	       AND A.GOODS_NM LIKE CONCAT('%', #{goods_nm}, '%')
	     </if>
    </select>
   
</mapper>