<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ankus.web.lite.relatedKeyword.RelatedKeywordRepository">

    <!-- ==================================================================================== -->
    <!-- 1. Result and Parameter Maps -->
    <!-- ==================================================================================== -->

    <resultMap id="relatedKeywordMap" type="com.ankus.web.lite.relatedKeyword.RelatedKeyword">
        <result property="prdt_strt_dt" column="PRDT_STRT_DT" jdbcType="VARCHAR"/>
        <result property="prdt_term_dt" column="PRDT_TERM_DT" jdbcType="VARCHAR"/>
        <result property="left_rule" column="LEFT_RULE" jdbcType="VARCHAR"/>
        <result property="right_rule" column="RIGHT_RULE" jdbcType="VARCHAR"/>       
        <result property="confidence" column="CONFIDENCE" jdbcType="DOUBLE"/>
        <result property="support" column="SUPPORT" jdbcType="DOUBLE"/>
        <result property="anal_dt" column="ANAL_DT" jdbcType="VARCHAR"/>
        <result property="str_year" column="STR_YEAR" jdbcType="VARCHAR"/>
        <result property="str_term" column="STR_TERM" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- ==================================================================================== -->
    <!-- 2. Sql Fragments -->
    <!-- ==================================================================================== -->

    <sql id="whereSTRT">WHERE PRDT_STRT_DT = #{prdt_strt_dt}</sql>    
    <sql id="whereTERM">WHERE PRDT_TERM_DT = #{prdt_term_dt}</sql>   

    <!-- ==================================================================================== -->
    <!-- 3. Select Statement -->
    <!-- ==================================================================================== -->
   
    <select id="selectByCondition" parameterType="relatedKeyword" resultMap="relatedKeywordMap">
        SELECT PRDT_STRT_DT
              ,PRDT_TERM_DT
        	  ,LEFT_RULE
              ,RIGHT_RULE                          
              ,CONFIDENCE  
              ,SUPPORT  
              ,ANAL_DT                                        
          FROM KWRD_REL_RESULT     		  
      	 <where> 
      	 	<if test=" prdt_strt_dt != null and prdt_strt_dt !='' ">
	       		AND PRDT_STRT_DT <![CDATA[=]]> #{prdt_strt_dt}	       		
	     	</if>	     	   	
      	 </where>
        ORDER BY 
        <choose>
        	<when test="sidx != null and sidx != ''"> ${sidx} </when>
        	<otherwise> PRDT_STRT_DT </otherwise>
        </choose>
        <choose>
        	<when test="sord != null and sord != ''"> ${sord} </when>
        	<otherwise> DESC </otherwise>
        </choose>
        <if test="paging == true">
        FOR ORDERBY_NUM() BETWEEN #{startRow} AND #{endRow};
        </if>
    </select>

    <select id="selectByConditionCnt" parameterType="relatedKeyword" resultType="int">
        SELECT COUNT(1) 
          FROM KWRD_REL_RESULT     		  
      	 <where> 
      	 	<if test=" prdt_strt_dt != null and prdt_strt_dt !='' ">
	       		AND PRDT_STRT_DT <![CDATA[=]]> #{prdt_strt_dt}	       		
	     	</if>
      	 </where>      
    </select>
    
    <select id="selectByYearList" parameterType="relatedKeyword" resultMap="relatedKeywordMap">
        SELECT DISTINCT YEAR(PRDT_STRT_DT) AS STR_YEAR
          FROM KWRD_REL_RESULT 
    </select>
    
    <select id="selectByTermList" parameterType="relatedKeyword" resultMap="relatedKeywordMap">
        SELECT DISTINCT PRDT_STRT_DT
              ,PRDT_TERM_DT
              ,CONCAT(TO_CHAR(prdt_strt_dt,'mm-dd'),' ~ ',TO_CHAR(prdt_term_dt,'mm-dd')) AS STR_TERM
          FROM KWRD_REL_RESULT 
        <where> 
        	<if test=" item != null and item !='' ">
	       		AND YEAR(PRDT_STRT_DT) <![CDATA[=]]> #{item}
	     	</if>		
        </where>  
    </select>
   
</mapper>