<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="language">

	<select id="getLanguageByUser" parameterType="String" resultType="String">
		SELECT
			[language]
		FROM
			[user]
		WHERE 
			username = #{value}
	</select>
	
	<update id="setUserLanguage" parameterType="DataMap">
		UPDATE
			[user]
		SET
			[language] = #{language}
		WHERE
			username = #{username}
	</update>
</mapper>