realtimechart .axis path, .axis line {
        fill: none;
        stroke: #555555;
        shape-rendering: crispEdges;
    }
	
realtimechart .line {
        fill: none;
        stroke: orange;
        stroke-width: 1px;
    }
    
    