<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ankus.web.lite.prdtKeyword.PrdtKeywordRepository">

    <!-- ==================================================================================== -->
    <!-- 1. Result and Parameter Maps -->
    <!-- ==================================================================================== -->

    <resultMap id="prdtKeywordMap" type="com.ankus.web.lite.prdtKeyword.PrdtKeyword">
        <result property="prdt_strt_dt" column="PRDT_STRT_DT" jdbcType="VARCHAR"/>
        <result property="prdt_term_dt" column="PRDT_TERM_DT" jdbcType="VARCHAR"/>
        <result property="kwrd" column="KWRD" jdbcType="VARCHAR"/>
        <result property="tf_idf" column="TF_IDF" jdbcType="DOUBLE"/>
        <result property="anal_dt" column="ANAL_DT" jdbcType="VARCHAR"/>
        <result property="srch_kwrd" column="SRCH_KWRD" jdbcType="VARCHAR"/>
        <result property="str_year" column="STR_YEAR" jdbcType="VARCHAR"/>
        <result property="str_term" column="STR_TERM" jdbcType="VARCHAR"/>
        <result property="text" column="TEXT" jdbcType="VARCHAR"/>
        <result property="tf_total" column="TF_IDF" jdbcType="INTEGER"/>
    </resultMap>

    <!-- ==================================================================================== -->
    <!-- 2. Sql Fragments -->
    <!-- ==================================================================================== -->

    <sql id="whereSTRT">WHERE PRDT_STRT_DT = #{prdt_strt_dt}</sql>    
    <sql id="whereTERM">WHERE PRDT_TERM_DT = #{prdt_term_dt}</sql>   

    <!-- ==================================================================================== -->
    <!-- 3. Select Statement -->
    <!-- ==================================================================================== -->
   
    <select id="selectByCondition" parameterType="prdtKeyword" resultMap="prdtKeywordMap">
        SELECT SRCH_KWRD,
        	   COUNT(KWRD) AS TF_TOTAL                                     
          FROM KWRD_IMP_RESULT              		  
      	 <where> 
      	 	<if test=" prdt_strt_dt != null and prdt_strt_dt !='' ">
	       		AND PRDT_STRT_DT <![CDATA[=]]> #{prdt_strt_dt}	       		
	     	</if>	     	   	
      	 </where>
      	GROUP BY SRCH_KWRD 
        ORDER BY 
        <choose>
        	<when test="sidx != null and sidx != ''"> ${sidx} </when>
        	<otherwise> PRDT_STRT_DT </otherwise>
        </choose>
        <choose>
        	<when test="sord != null and sord != ''"> ${sord} </when>
        	<otherwise> ASC </otherwise>
        </choose>
        <if test="paging == true">
        FOR ORDERBY_NUM() BETWEEN #{startRow} AND #{endRow};
        </if>
    </select>

    <select id="selectByConditionCnt" parameterType="prdtKeyword" resultType="int">
        SELECT COUNT(DISTINCT SRCH_KWRD) 
          FROM KWRD_IMP_RESULT      		  
      	 <where> 
      	 	<if test=" prdt_strt_dt != null and prdt_strt_dt !='' ">
	       		AND PRDT_STRT_DT <![CDATA[=]]> #{prdt_strt_dt}	       		
	     	</if>
      	 </where> 
    </select>
    
    <select id="selectByYearList" parameterType="prdtKeyword" resultMap="prdtKeywordMap">
        SELECT DISTINCT YEAR(PRDT_STRT_DT) AS STR_YEAR
          FROM KWRD_IMP_RESULT 
    </select>
    
    <select id="selectByTermList" parameterType="prdtKeyword" resultMap="prdtKeywordMap">
        SELECT DISTINCT PRDT_STRT_DT
              ,PRDT_TERM_DT
              ,CONCAT(TO_CHAR(prdt_strt_dt,'mm-dd'),' ~ ',TO_CHAR(prdt_term_dt,'mm-dd')) AS STR_TERM
          FROM KWRD_IMP_RESULT 
        <where> 
        	<if test=" item != null and item !='' ">
	       		AND YEAR(PRDT_STRT_DT) <![CDATA[=]]> #{item}
	     	</if>		
        </where>  
    </select>
    
    <select id="selectByChartList" parameterType="prdtKeyword" resultMap="prdtKeywordMap">
         SELECT KWRD AS TEXT             
               ,TF_IDF               
          FROM KWRD_IMP_RESULT
      	 <where> 
      	 	<if test=" srch_kwrd != null and srch_kwrd !='' ">
	       		AND SRCH_KWRD <![CDATA[=]]> #{srch_kwrd}
	       		AND LENGTH(KWRD) > 1
	       		ORDER BY TF_IDF DESC
	       		LIMIT #{count};
	     	</if>	     	   	
      	 </where>
   	</select>
   
</mapper>